<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>User</title>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <h5>
    <a class="navbar-text text-white font-bold" id="headerUsername"></a>
    <a class="text-white font-bold">with roles:</a>
    <a class="text-white font-bold" id="headerRoles"></a>
    </h5>

    <form th:action="@{/logout}" method="post">
      <button class="btn btn-link btn-xs">
        <p class="text-muted">Logout</p>
      </button>
    </form>
  </nav>

  <br>

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/user">User</a>
          </li>
        </ul>
      </div>

      <div class="col-md-10">
        <h3 class="card-title">User information-page</h3>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item active" role="presentation">
            <a class="nav-link" data-toggle="tab" href="#user" role="tab">About user</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="user" role="tabpanel">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Roles</th>
              </tr>
              </thead>
              <tbody id="userPanelBody">

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script type="text/javascript" src="userPage.js"> </script>
</body>
</html>